.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

main {
    flex: 1 0 auto;
}

.social-links li a i {
    margin-top: 10px;
    width: 35px;
    height: 35px;
    padding: 12px 0;
    border-radius: 25%;
    font-size: 13px;
    text-align: center;
    color: white;
    background: #121212;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    border-radius: 50%;
}

.brand-logo {
    white-space: nowrap;
}

hr.divider {
    border-width: 0.4rem;
    border-color: #121212;
    border-top-style: solid;
    border-right-style: initial;
    border-left-style: initial;
    border-bottom-style: initial;
}

.social-links li {
    display: inline;
}

body {
    background: url("../images/alfons-morales-YLSwjSy7stw-unsplash.jpg") center center no-repeat fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}