{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add a review</h3>
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('addreview') }}">
        <div class="card-panel">
            <!--Title-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-book prefix light-blue-text text-darken-4"></i>
                    <input id="title" name="title" type="text" placeholder="Title" class="validate" required>
                    <label for="title">Title</label>
                </div>
            </div>

            <!--Register button-->
            <div class="row">
                <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">Register <i
                        class="fas fa-sign-in-alt"></i></button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            Already Registerd? <a href="{{  url_for('login')}}" class="light-blue-text text-darken-4">Log In</a>
        </p>
    </div>
</div>

{% endblock %}