{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        {% for books in books %}
        <div class="card horizontal">
            <div class="card-content">
                <div class="col s12 m4">
                    <img class="responsive book-cover" src="{{ books.imageurl }}" alt="Book cover">
                </div>

                <div class="col s12 m8">
                    <h5 class="center-align light-blue-text text-darken-4">
                        {{ books.title }}<br>
                    </h5>
                    <strong>Author: </strong>{{ books.author }}<br>
                    <strong>Genre: </strong>{{ books.genre }}<br>
                    <strong>Synopsis: </strong>{{ books.synopsis }}<br>
                    <strong>Review: </strong>{{ books.review }}<br>
                    {{ books.rating }}<br>
                    <small><em>Created by: <strong>{{ books.createdby }}</strong>,<br>
                            {{ books.datecreated }}</em></small>
                    <div class="card-action">
                        <a href="{{ books.buylink }}">Buy this book!</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}